name: CI
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - release/*
      - trunk/*
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - "chain-specs/**"
      - ".github/workflows/*.yml"
  push:
    branches:
      - trunk/*
      - release/*
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - "chain-specs/**"
      - ".github/workflows/*.yml"

jobs:
  format-build-test:
    runs-on: [self-hosted]
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-07-14
          target: wasm32-unknown-unknown
          components: rustfmt
          default: true
          override: true
      - name: Format
        run: |
          cargo -V
          cargo fmt --all -- --check
      - name: Build
        run: |
          cargo -V
          cargo check --release
      - name: Test
        run: |
          cargo -V
          cargo test --workspace
      #- name: Benchmark (build only)
      #  run: cargo check --features=runtime-benchmarks
